h1 {
    color: green;
    text-transform: uppercase;
    text-align: center;
}



body h1{
    background-color: lightgreen;
}


body img {
    text-align:center;
}

.nav {
    background: #C65400;
    margin-top: 10px;
    margin-bottom: 0px;
}


.nav a {
	color: #310D0D;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.nav li {
  display:inline;
}

.nav li {
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}



.logo img{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}


.logo img{
  border-style: outset;
  border-width: 10px;
  border-color: #C92124;
}

.logo img{
  height: 100px;
  width: 140px;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:right; }
* html .centered-pills ul.nav-pills { display:inline; } 
*+html .centered-pills ul.nav-pills { display:inline; } 
